html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title {
    text-align: center;
}
.events-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.events-container .event-card {
    flex-basis: calc(100% / 3);
    flex-grow: 0;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
}
